:root {
  --blue: #304FFE;
  --blue1: #EDF2FF;
  --blue2: #406FFC;
  --red: #DA1E28;
  --red1: #FFEBEC;
  --red2: #FCCFD2;
  --cyan: #002B50;
  --color-button-brand-education-background: var(--red);
  --color-button-brand-education-hover: var(--red);
}

// For some reason, zilla makes a override in the strong style
strong {
  font-weight: bold !important;
}
